
<body class="bck1">

<% @tytul_strony = "Logowanie" %>

<div class="content22">

<% if @przypomnienie.size > 0 %>
  <script type="text/javascript">
  
  $(document).ready(function(){
  $.notify(
    "Masz "+<%= @przypomnienie.size %>+ " przypomnień w terminarzu", 
    { position:"bottom right", className: "info" }
  );    
  });
  </script>

<% else %>
  <script type="text/javascript">
   
  $(document).ready(function(){
  $.notify(
    "Nie masz nowych powiadomień terminarza", 
    { position:"bottom right", className: "info" }
  ); 
  });
  </script>
<% end %>

<% if @data < 30 && @data > 10 %>

<script type="text/javascript">
  
$(document).ready(function(){
$.notify(
  "Pozostało Ci "+ <%= @data %> + " dni do zakończenia subskrypcji programu", 
  { position:"bottom right", className: "warn" }
);
    
  
  });
</script>

<% end %>

<% if @data < 10 && @data > 0 %>

<script type="text/javascript">
  
$(document).ready(function(){
$.notify(
  "Pozostało Ci "+ <%= @data %> + " dni do zakończenia subskrypcji programu", 
  { position:"bottom right", className: "error" }
);
    
  
  });
</script>

<% end %>

<% if @data < 0 %>

  <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <script src="bootbox.js"></script>
        <script>
          $(function(){

bootbox.confirm({ 
    size: "medium",
    message: "Zakończył się okres subskrypcji Twojego programu. Aby odnowić subskrypcję skontaktuj się z administratorem pod adresem control.crm.bhp@gmail.com", 
    callback: function(result){ 
            if (result === true) {
            parent.window.location="/dostep/logout";
        }   else
        {
          parent.window.location="/dostep/logout";
        }
      }
})


          });
        </script>

<% end %>
 
          <%= image_tag("powitanie.png", :class => "text1") %>

  </div>

</body>

