<% @tytul_strony = "Najnowsze" %>

<div class = "container">
	<div id="row">
		<h2>Spis 10 Najnowszych</h2>
		<% @strona_menu.each do |strona| %>
		<%= link_to(strona.nazwa, {:action => "strona", :strona_id => strona.id}, :class => 'btn btn-default btn-lg btn-block') %>
			<% end %>
	</div>
</div>