  body {


	
	}

body.bck1 {
	background: none
}

body.bck2 {
	background: url(main.jpeg) no-repeat;
	background-position: center;
	background-size: 100%,100%;
}

body.bck3 {

	background: url(bck1.png) no-repeat;
	background-position: center;
	background-position-y: 60px;
	background-size: 75%,75%;
}

body.bck4 {

  background: url(kaski.png) no-repeat;
  background-position: center;
  background-position-y: 60px;
  background-size: 75%,75%;
} 

.shadow
{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

.item1 {
	position: fixed;
	padding: 180px 50px 50px 450px;
	margin: 10px;
}

.content1 {
	background: #fff;
	position: center;
	height: 100%;
	padding: 20px;
	align-items: center;
	justify-content: center;
	border: 1px solid gray; 
	box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

.content2 {
 
  display: block;
  position:absolute;
   z-index: 1;
  height:auto;
  bottom:50%;
  top:0;
  left:0;
  right:0;
  margin-top:50px;
  margin-right:0px;
  margin-left:230px;
	background: #fff;
	align-items: center;
	justify-content: center;

}
 
.content21 {
  
  display: block;
  position:absolute;
  height:auto;
  bottom:50%;
  top:0;
  left:0;
  right:0;
  margin-top:50px;
  margin-right:0px;
  margin-left:230px;
  background: #fff;
  align-items: center;
  justify-content: center;

} 

.content22 {
  display: block;
  position:absolute;
  height:auto;
  bottom:0;
  top:0;
  left:0;
  right:0;
  margin-top:50px;
  margin-bottom:0px;
  margin-right:0px;
  margin-left:230px;
  background: url(kaski.png) no-repeat;
  background-position: center;
background-size: cover;

}
 
.content22:hover {
  opacity: 0.8;
  filter: alpha(opacity=80); /* For IE8 and earlier */
        text-decoration: none;
        text-align: center;
        -webkit-transition: opacity 500ms;
        -moz-transition: opacity 500ms;
        -o-transition: opacity 500ms;
        transition: opacity 500ms;
}

    .content22 .text1 {
        opacity: 0;
        position: absolute;
        top: 30%;
        left: 30%;
        padding: 2px 10px;
        color: #ffffff;

        text-decoration: none;
        text-align: center;
        -webkit-transition: opacity 500ms;
        -moz-transition: opacity 500ms;
        -o-transition: opacity 500ms;
        transition: opacity 500ms;
        
    }
    .content22:hover .text1 {
        opacity: 1.0;
    }

.content23 {
  
  display: block;
  position:absolute;

  bottom:0;
  top:0;
  left:0;
  right:0;
  margin-top:50px;
  margin-right:0px;
  margin-left:230px;
  background: #fff;
  align-items: center;
  justify-content: center;

}
   
.content3 {
	position: absolute;
  margin-top: 30%;
	margin-left: 250px;
	margin-right: 60px;
	padding-top: 10px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-left: 40px;
	background: #fff;
	align-items: center;
	justify-content: center;
	border: 1px solid gray; 
	box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);

} 

.content4 {
	position: relative;
  z-index: 1;
  height: 80px;
	margin-left: 20px;
	margin-right: auto;	width: 95%;
	padding-top: 20px;
    padding-right: 10px;
    padding-bottom: 20px;
    padding-left: 10px;
	background: #fff;
	align-items: center;
	justify-content: center;
	border: 1px solid gray; 
	box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);

}
   
.content5 {
  position: center;
	z-index: -1;
	margin-left: 0%;
	margin-right: auto;	width: 100%;

    padding-right: 20px;
    padding-left: 20px;

}

.content6 {
  position: center;
  margin-left: 0%;
  margin-right: auto; width: 100%;
    padding-right: 20px;
    padding-left: 20px;

}
 
.rej_button {
  margin-left: 10%;
  padding-top: 10px;

} 

.log_button {
  margin-left: 20%;
  padding-top: 10px;
}

.info_button {
  margin-left: 5%;
  padding-top: 10px;
}
 
.button-rej {
  color: #fff;
  background-color: #5a7a91;
  border-radius: 60px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  font-weight: bold;
}

.button-rej:hover {
  background-color: #001436;
  color: white;
}

.button-info {
  color: #fff;
  background-color: #5ad2cd;
  border-radius: 60px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  font-weight: bold;
}

.button-info:hover {
  background-color: #00726d;
  color: white;
}

.button-log {
  color: #fff;
  background-color: #5bb666;
  border-radius: 60px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  font-weight: bold;
}

.button-log:hover {
  background-color: #1eb531;
  color: white;
}

.button-rej {
  color: #fff;
  background-color: #5a7a91;
  border-color: #357ebd;
  border-radius: 60px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  font-weight: bold;
}

.button-rej:hover {
  background-color: #2c6c96;
  color: white;
}
 
.button-fcb {
position: absolute;
right: 25px;
bottom: 75px;
}

.text-center {
	 text-align: center;

}
   
.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column; 
  justify-content: center;
  width: 100%;
  min-height: 100%;
  margin-top: 10%;

}
 
.Userwrapper {
  display: flex;
  align-items: left;
  flex-direction: column; 
  justify-content: center;
  width: 80%;
  min-height: 100%;
  margin-top: 1%;
  margin-left: 5%; 
}

.Userwrapper1 {
  display: flex;
  align-items: left;
  flex-direction: column; 
  justify-content: center;
  width: 80%;
  min-height: 80%;
  margin-top: 1%;
  margin-left: 5%;
}

#formContent {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 30px;
  width: 90%;
  max-width: 450px;
  position: relative;
  padding: 0px;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  text-align: center;
}

#formUserContent {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  width: 90%;
  max-width: 450px;
  position: relative;
  padding: 0px;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  text-align: center;
}

#formUserContent1 {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  width: 50%;
  max-width: 350px;
  position: relative;
  padding: 0px;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  text-align: center;
}

#formFooter {
  background-color: #f6f6f6;
  border-top: 1px solid #dce8f1;
  padding: 25px;
  text-align: center;
  -webkit-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
}

/* Simple CSS3 Fade-in-down Animation */
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
 
.emp-profile{
    padding: 3%;
    margin-top: 0%;
    margin-bottom: 0%;
    border-radius: 0.5rem;
    background: #fff;
}
.profile-img{
    text-align: center;
}
.profile-img img{
    width: 70%;
    height: 100%;
}
.profile-img .file {
    position: relative;
    overflow: hidden;
    margin-top: -20%;
    width: 70%;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: #212529b8;
}
.profile-img .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
}
.profile-head h5{
    color: #333;
}
.profile-head h6{
    color: #0062cc;
}
.profile-edit-btn{
    border: none;
    border-radius: 1.5rem;
    width: 70%;
    padding: 2%;
    font-weight: 600;
    color: #6c757d;
    cursor: pointer;
}
.proile-rating{
    font-size: 12px;
    color: #818182;
    margin-top: 5%;
}
.proile-rating span{
    color: #495057;
    font-size: 15px;
    font-weight: 600;
}
.profile-head .nav-tabs{
    margin-bottom:5%;
}
.profile-head .nav-tabs .nav-link{
    font-weight:600;
    border: none;
}
.profile-head .nav-tabs .nav-link.active{
    border: none;
    border-bottom:2px solid #0062cc;
}
.profile-work{
    padding: 14%;
    margin-top: -15%;
}
.profile-work p{
    font-size: 12px;
    color: #818182;
    font-weight: 600;
    margin-top: 10%;
}
.profile-work a{
    text-decoration: none;
    color: #495057;
    font-weight: 600;
    font-size: 14px;
}
.profile-work ul{
    list-style: none;
}
.profile-tab label{
    font-weight: 600;
}
.profile-tab p{
    font-weight: 600;
    color: #0062cc;
}

/* Simple CSS3 Fade-in Animation */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fadeIn {
  opacity:0;
  -webkit-animation:fadeIn ease-in 1;
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

.fadeIn.first {
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.fadeIn.second {
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.fadeIn.third {
  -webkit-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

.fadeIn.fourth {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}

/* Simple CSS3 Fade-in Animation */
.underlineHover:after {
  display: block;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 2px;
  background-color: #56baed;
  content: "";
  transition: width 0.2s;
}

.underlineHover:hover {
  color: #0d0d0d;
}

.underlineHover:hover:after{
  width: 100%;
}



/* OTHERS */

*:focus {
    outline: none;
} 

#icon {
  width:60%;
}
 
.nav-side-menu {
  overflow: auto;
  font-family: verdana;
  font-size: 12px;
  font-weight: 200;
  background-color: #567b96;  /* kolor główny */
  position: fixed;
  top: 0px;
  left: 0px;
  width: 230px;
  height: 100%;
  color: #e1ffff;

}
.nav-side-menu .brand {
  background-color: #567b96;
  line-height: 50px;
  display: block;
  text-align: center;
  font-size: 14px;

}
.nav-side-menu .toggle-btn {
  display: none;
}
.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 35px;
  cursor: pointer;
  text-align: center;
  /*    
    .collapsed{
       .arrow:before{
                 font-family: FontAwesome;
                 content: "\f053";
                 display: inline-block;
                 padding-left:10px;
                 padding-right: 10px;
                 vertical-align: middle;
                 float:right;
            }
     }
*/ 
}
.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {

  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: left;
  float: left;
}
.nav-side-menu ul .active,
.nav-side-menu li .active {

  background-color: #567b96;    /* kolor aktywnego */
}
.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
  color: #b5463d;
}
.nav-side-menu ul .sub-menu li.active a,
.nav-side-menu li .sub-menu li.active a {
  color: #b5463d;
}
.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
  background-color: #6598b7;   /* kolor po otwarciu submenu */
  border: none;
  line-height: 28px;
  margin-left: 0px;
}
.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
  background-color: #254051;   /* kolor po zaznaczeniu submenu */
}
.nav-side-menu ul .sub-menu li:before,
.nav-side-menu li .sub-menu li:before {
  font-family: FontAwesome;
  content: "\f10c";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  position: absolute;
  left: 5px;
}
 
.nav-side-menu ul .sub-menu1 li:before,
.nav-side-menu li .sub-menu1 li:before {
  font-family: FontAwesome;
  content: "\f111";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  position: absolute;
  left: 5px;
}


.nav-side-menu ul .sub-menu1 li,
.nav-side-menu li .sub-menu1 li {
  background-color: #7ca8c3;   /* kolor po otwarciu submenu */
  border: none;
  line-height: 28px;
  margin-left: 0px;
}



.nav-side-menu li {
  padding-left: 0px;

}
.nav-side-menu li a {
  text-decoration: none;
  color: #e1ffff;
}
.nav-side-menu li a i {
  padding-left: 10px;
  width: 20px;
  padding-right: 20px;
}

.nav-side-menu li:hover {

  background-color: #254051;  /* kolor podkreślenia najechanie */
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
@media (max-width: 767px) {
  .nav-side-menu {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
  }
  .nav-side-menu .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10 !important;
    padding: 3px;
    background-color: #ffffff;
    color: #000;
    width: 40px;
    text-align: center;
  }
  .brand {
    text-align: left !important;
    font-size: 22px;
    padding-left: 20px;
    line-height: 50px !important;
  }
}
@media (min-width: 767px) {
  .nav-side-menu .menu-list .menu-content {
    display: block;
  }
} 
body {
  margin: 0px;
  padding: 0px;
}

.style_image {
  height: 15px;
  margin-right: 15px;
  position: relative;
  top: -1px;
  -ms-transform: scale(2); /* IE 9 */
  -webkit-transform: scale(2); /* Safari 3-8 */
  transform: scale(2);
}
 
.style_text {
  margin-left: 15px;
}

.style_h {
  margin-left: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
}
