<table class="table table-striped">
	<tr>
		<th><%= pole.label(:osoba_imie, "Imie: ") %></th>
		<td><%= pole.text_field(:osoba_imie, :class => 'form-control', :required => 'required') %></td>
	</tr>

	<tr>
		<th><%= pole.label(:osoba_nazwisko, "Nazwisko: ") %></th>
		<td><%= pole.text_field(:osoba_nazwisko, :class => 'form-control', :required => 'required') %></td>
	</tr>

</table>