<% @tytul_strony = "Rejestr Szkoleń" %>

<div class="content2">

	<br> 
  <br>
  <br>
  <br>
	<br>
  	<div class="row">
 
  	    <div class="col-sm-3">
  	    </div>

  	    <div class="col-sm-3">
  	    <div class="fadeIn third">
  	      <%= image_tag("rejestr5.jpg",:size => '200x200', :class => "img-circle center-block") %>
  	      <p> </p>
		 <p class="text-center"> <%= link_to(image_tag("text_rejestr_bold.png"), {:action => 'index'}, :class => 'btn btn-md btn-default') %></p>
		</div>
  	    </div>

  	    <div class="col-sm-3">
  	    <div class="fadeIn second">
  	      <%= image_tag("wstepne1.jpg",:size => '200x200', :class => "img-circle center-block") %>
  	      <p> </p>
		 <p class="text-center"> <%= link_to(image_tag("text_wstepne_bold.png"), {:action => 'index_wstepne'}, :class => 'btn btn-md btn-default') %></p>
		</div>
  	    </div>
    <div class="col-sm-3">

        </div> 

	</div>


  </div>




