<body class="bck1">

<div class="hero-unit">
  <br>
  <div class="fadeIn first">
        <%= image_tag("text_szkolenia_big.png") %>
   </div>
   <div class="fadeIn second">
<%= render(:partial => "form") %>
</div>
</div>

</body>