<div class="navbar-wrapper">
  <div class="container">
<nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">
           <a class="navbar-brand logo" href="https://pl-pl.facebook.com/controllifepl"></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/public">Home</a></li>
            <li><a href="/dostep/index">Zaloguj</a></li>
             
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>